{% extends "base.html" %}

{% block htmltitle %}
    <title>{{ page.title }} | {{ config.site_name }}</title>
{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="https://cdn-font.hyperos.mi.com/font/css?family=MiSans_VF:VF:Chinese_Simplify,Latin&amp;display=swap" />
    <link rel='stylesheet' href='https://chinese-fonts-cdn.deno.dev/packages/zhbtt/dist/字魂扁桃体/result.css' />
    <link href="https://fonts.font.im/css?family=Fira+Mono:400,700" rel="stylesheet">
{% endblock %}

{% block announce %}
    <center><b>这里是 TACS 文档! 最新构建:{{ build_date_utc.strftime('%Y-%m-%d %a %H:%M:%S.%f %Z') }}</b></center>
{% endblock %}